.impostor {
  background-color: red;
}

* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#heading {
  animation: pulse infinite 1.5s linear;
  font-weight: 600;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1);
  }