.impostor {color:black;}
.impostor:hover {color:red;}

.heading {font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}